.OperatorButton{
    margin: auto;
    width: 95%;
    display: flex;
    margin-top: 0.5rem;
    
}
.btn-operator{
    margin: auto;
    width: 23%;
    height: 2.5rem;
    color: white;
    font-size: 1.5rem;
    border: 1px solid aqua;
    background-color: rgb(131, 129, 127);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}